/* login.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 2rem;
    color: #333;
}

.inputContainer {
    margin-bottom: 10px;
    text-align: center;
}

.inputField {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.faceLoginContainer {
    margin: -25px;
    text-align: center;
}

.video {
    width: 240px;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
}

.loginButton {
    margin-top: 24px;
    padding: 10px 20px;
    background-color: #4e9ab3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #45a049;
}

.loadingText {
    font-size: 1.2rem;
    color: #888;
}

.registerLink {
    margin-top: 20px;
    font-size: 1rem;
    color: #135a71;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.registerLink:hover {
    color: #45a049;
    text-decoration: underline;
}